.message_form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    border-radius: 26px;
    background-color: #1f1f1f;
    padding: 5px;
    margin: 12px 12px;
}
.message_form label{
    color: white;
    font-size: 17px;
    font-weight: 800;
}
.icon_plus{
    width: 24px;
    height: 24px;
}
.icon_send{
    width: 22px;
    height: 22px;
}
.message_input {
    flex-grow: 1;
    display: flex;
    border: none;
    background-color: #1f1f1f;
}

.message_input input {
    width: 100%;
    padding: 8px;
    background-color: #1f1f1f;
    border: none;
    outline: none;  
    font-size: 15px;
    color: white;
}

.message_input input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #1f1f1f inset !important;
    -webkit-text-fill-color: white !important;
    caret-color: white;
    font-size: 15px;
}
.message_form label{
    color: white;
    font-size: 17px;
    font-weight: 800;
}

.message_form button {
    background-color: #21c063;
    color: black;
    height: 35px;
    width: 35px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;

}
