.status_conteiner {
    display: flex;
    flex-direction: row;
    background-color: #161717;
    height: 100vh;
    justify-content: space-between;
}
.status_content{
    display: flex;
    flex-direction: column;
    background-color: #161717;
    padding: 0 15px;
    height: 100vh;
    max-width: 410px;
    width: 100%;
    border-right: 1px solid #2a2f32;
    flex-shrink: 0;
    color: white;
}
.status_header{
    position: sticky;
    top: 0;
    z-index: 100;
    height: 64px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.status_img{
    display: flex;
    flex-direction: row;
    height: 69px;
    width: 100%;
    align-items: center;
}

.status_text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 12px 12px 0 12px;
    align-content: center;
}

.status_list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: auto;

}

.status_icon {
    width: 60px;
    height: 60px;
    color: #454545;
    margin-bottom: 40px;
}

.status_title {
    font-size: 32px;
    font-weight: 50;
    color: #aebac1;
    text-align: center;
}

.status_description {
    font-size: 14px;
    font-weight: 50;
    color: #aebac1;
    text-align: center;
    margin-top: 20px;
}

.status_security {
    color: #677882;
    text-align: center;
    font-size: 14px;
    position: absolute;
    bottom: 14px;
    margin-bottom: 20px;
}
.text_description{
    font-size: 13px;
    font-weight: 50;
}
.title_text_status{
    font-size: 16px;
    color: #21c063;
    margin-top: 20px;
    font-weight: 300;
}
.text_my_state{
    font-size: 16px;
    font-weight: 400;
}

.icons_estatus{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    gap: 15px;
    font-weight: 400;
}

.avatar_status{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 24px;
    border: 2px dashed #21c063;
    padding: 2px;
}   

.status_text_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px 12px 0 12px;
    align-items: center;
    height: 100vh;
    text-align: center;
}