.message_wrapper {
	display: flex;
	margin: 5px 10px;
}

.message_wrapper.enviado {
	justify-content: flex-end;
}

.message_wrapper.recibido {
	justify-content: flex-start;
}
.message_bubble {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #144d37;
    border-radius: 10px;
    gap:5px;
    max-width: 80%;
    padding: 6px 7px 8px 9px;
    font-weight: 400;
}
.message_wrapper.recibido .message_bubble {
	display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #242626;
    border-radius: 10px;
    gap:5px;
    max-width: 80%;
    padding: 6px 7px 8px 9px;
    font-weight: 400;
}
.message_text{
    font-size: 16px;
    color: white;
}
.message_time{
    font-size: 11px;
    color: lightgray;
    font-weight: 200;
    display: flex;
    align-items: end;
}
.message_status{
    color: #007bfc;
    display: flex;
    align-items: end;
}
.chechkall{
    height: 14px;
    width: 14px;
}
.delete_message{
    background-color: transparent;
    border: none;
    color: lightgray;
    cursor: pointer;
    font-size: 11px;
    display: flex;
    align-items: end;
}

.message_wrapper.recibido .delete_message {
	display: none; 
}